/*#strawberry-100{
	background-color: #ff8c82;
}

#strawberry-300{
	background-color: #ed5353;
}

#strawberry-500{
	background-color: #c6262e;
}

#strawberry-700{
	background-color: #a10705;
}

#strawberry-900{
	background-color: #7a0000;
}
*/
#orange-100{
	background-color: #ffc27d;
}

#orange-300{
	background-color: #ffa154;
}

#orange-500{
	background-color: #ffc27d;
}

#orange-700{
	background-color: #ffc27d;
}

#orange-900{
	background-color: #ffc27d;
}
