body {
	background-color: #111;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: 40px;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

a {
	color: #ffffff;
}

.active {
	color: #6a6a6a;
}

#navbar{
	font-size: 30px;
}

#navbar img {
	height: 120px;
}

#slogan {
	color: #FAFAFA;
	font-size: 50px;
	text-align: center;
	letter-spacing: 4px;
}

#space-1 {
	height: 50px;
}

#mockup img {
	height: 800px;
}

#space-2 {
	height: 100px;
}

#feature {
	display: inline-block;
	color: #FAFAFA;
}

.r1-c1 {
	padding-left: 16px;
	width: calc(55%);
}

.r1-c2 {
	width: calc(40%);
}

.r1-c2 img{
	width: 60px;
}